.cart-head-warrp{
	width: 100%;
	overflow: hidden;
}
.cart-head-warrp .cart-head{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 1200px;
}
.cart-head .cart-logo{
	padding-left: 5px;
	float: left;
	margin-top: 15px;
}
.cart-head .cart-picture{
	float: right;
	padding: 10px 0;
}
.cart-head .cart-picture ul{
	background: url(../images/step1.png) no-repeat;
    width: 481px;
    padding-top: 35px;
    overflow: hidden;
    height: 23px;
}
.cart-head .cart-picture ul li{
	color: #aaa;
    width: 160px;
    height: 23px;
    float: left;
    line-height: 23px;
    text-align: center;
}
.cart-head .cart-picture ul li.cart-active{
	color: #62c92b;
}
.cart-cantain{
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
}
.cart-cantain .cart{
	width: 1200px;
	margin: 0 auto;
}
.cart .ncc-null-shopping { 
	width: 480px; 
	height: 340px; 
	margin: 0 auto;
	position: relative; 
	z-index:1; 
	overflow:hidden; 
	display: none;
}
.ncc-null-shopping i.ico { 
	background: url(../images/cart_bg.png) no-repeat -100px -50px; 
	width: 128px; height: 128px; 
	position:absolute; 
	z-index: 1; 
	top: 80px; 
	left:0;
}
.ncc-null-shopping h4 { 
	font: lighter 22px/30px "microsoft yahei"; 
	color: #777; 
	position: absolute; 
	z-index: 1; 
	top: 110px; 
	left: 180px; 
}
.ncc-null-shopping p{ 
	position: absolute; 
	z-index: 1; 
	top: 160px; 
	left: 180px; 
}
.ncc-null-shopping p a.ncbtn{
    height: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    font: 400 12px/20px "microsoft yahei",arial;
    color: #FFF;
    background-color: #CCD0D9;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.ncc-null-shopping p a.mr10 {
    margin-right: 10px !important;
    background: #F98016;
}
/* 购物车内容部分
-----------------------------------*/
.ncc-title { 
	height: 25px; 
	padding: 30px 0; 
	border-bottom: solid 1px #F5F5F5;
}
.ncc-title h3 { 
	font: lighter 24px/30px arial,"microsoft yahei"; 
	color: #555;
}
#totalnum{
	color: #F90013;
}
/*table   ncc-table-style*/
.ncc-table-style { 
	width: 100%; 
	border-collapse: collapse; 
	margin-bottom: 20px;
}
.ncc-table-style thead th{ 
	line-height: 20px; 
	color: #666; 
	background-color: #eff2f5;
	text-align: center; 
	height: 20px; 
	padding: 10px;
}
.ncc-table-style thead th.w50{
	width: 50px;
}
.ncc-table-style tbody th { 
	font-size: 12px; 
	line-height: 20px; 
	color: #333;
	height: 20px; 
	background-color: #FFF; 
	padding: 20px 10px 10px;
}
.ncc-table-style .ncc-store-name { 
	text-align: left;
	font-size: 14px; 
	line-height: 26px; 
	vertical-align: top; 
}
.ncc-table-style tbody tr td{ 
	vertical-align: top; 
	padding: 8px 10px; 
	text-align:center; 
	border-top: solid 1px #DDD;
}
.ncc-table-style tbody .td-border-left { 
	padding-left: 16px;
	border-left: solid 1px #DDD;
	text-align: left;
}
.ncc-table-style .checkedtop{
	margin-top: 30px;
}
.ncc-table-style .ncc-goods-thumb { 
	line-height: 0; 
	vertical-align: middle; 
	display: table-cell; 
	width: 80px;
	height: 80px; 
	border: solid 1px #F5F5F5; 
	overflow: hidden;
}
.ncc-table-style .ncc-goods-thumb img { 
	max-width: 80px; 
	max-height: 80px; 
	margin-top:expression(80-this.height/2); 
}
.ncc-table-style .goods-title{
	display: block;
	width: 260px;
	font-size: 14px;
	line-height: 18px;
	padding:20px;
	text-align: left;
	word-spacing: normal;
	display: table-cell;
}
.ncc-table-style .goods-price { 
	font-family: Tahoma; 
	font-weight: 600; 
	color: #333; 
	line-height: 24px; 
	display: block;
	font-size: 24px;
	vertical-align: middle;
	padding:20px;
}
/*、、、、、、、、、、、、、、、、     + 号、、、、、、、、、、、*/
.ncc-table-style a.tip{ 
	font: 14px/30px Tahoma, Arial; 
	color: #555; 
	text-decoration: none; 
	background-color: #F5F5F5; 
	text-align: center; 
	display: inline-block; 
	width: 26px;
	height: 30px; 
	margin-top: 20px;
}
.ncc-table-style .text{
	margin-top: 20px;
	width: 40px;
	height: 29px;
	text-align: center;
}
.ncc-table-style .goods-subtotal { 
	width: 100px;
	margin-top: 20px;
	font-family: Verdana,Tahoma,arial; 
	color: #F40; 
	font-weight: 600; 
	line-height: 24px; 
	display: block;
	font-size: 24px;
	vertical-align: middle;
	margin: 20px auto;
	padding-top: 10px;
} 
.ncc-table-style .price-padd{
	padding: initial;
}
.ncc-table-style tbody .td-border-right {
	border-right: solid 1px #DDD;
	font-size: 14px;
	line-height: 20px;
}
.ncc-table-style tbody .addnum{
	padding-top: 20px;
}
/*结算*/
.ncc-table-style tfoot{
	width: 1200px;
}
#delSelect{
	margin-left: 10px;
}
.ncc-table-style tfoot td {
    background: #FAFAFA;
    text-align: right;
    height: 50px;
    padding: 0;
   background-color: #eff2f5;
}
.ncc-all-account { 
	font: normal 14px/50px "microsoft yahei", Arial; 
	color: #333; 
	vertical-align: top; 
	display: inline-block; 
	height: 40px; 
	margin-right: 10px;
}
.ncc-all-account em { 
	font-size: 22px; 
	line-height: 50px; 
	font-family: Tahoma,arial; 
	color: #F32613; 
	margin: 0 4px;
}
#delSelect,#backindex,.ncc-next-submit{ 
	font-size: 20px; 
	line-height: 35px; 
	color: #FFF !important; 
	background-color: #F32613;
	border-radius: 5px;
	vertical-align: top; 
	display: inline-block; 
	height: 35px; 
	padding: 0 15px; 
	cursor: pointer;
	margin-top: 2px;
	margin-right: 10px;
}
#delSelect:hover,.ncc-next-submit:hover{
	background-color: #CF0010;
}
.space{
	width: 480px;
	background: magenta;
	display: inline-block;
}
#delSelect{
	/*float: left;*/
}
#backindex{
	/*float: left;*/
	margin-left:30px;
}
#backindex:hover{
	background-color: #CF0010;
}
.shop-list td{
	background: #FDFDF7;
}
